@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    --dark-grayish-red: hsl(0, 6%, 24%);

    --gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-size: 16px;
}

html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1440px;
    margin: 0 auto;
    flex: .8;
}

.hero {
    flex: .4;
}

.content {
    flex: .6;
    display: flex;
    flex-direction: column;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.text-container h2 {
    text-transform: uppercase;
    color: var(--desaturated-red);
    font-weight: 200;
    font-size: 4rem;
    letter-spacing: 22px;
    margin-top: 120px;
    line-height: 68px;
}

.text-container h2 span {
    display: block;
    color: var(--dark-grayish-red);
    font-weight: 600;
}

.text-container p{
    color: var(--desaturated-red);
    line-height: 38px;
    margin-top: 24px;
    font-size: 1.25rem;
}

.hero img {
    height: auto;
}

footer {
    flex: .2;
    text-align: center;
    padding-top: 32px;
}

.email-input-box {
    position: relative;
    border: none;
    border: .5px solid var(--desaturated-red);
    border-radius: 100px;
    width: 80%;
    margin-top: 42px;
}

input {
    font-family: inherit;
    padding: 1.45rem 0;
    padding-left: 2rem;
    font-size: 1.3rem;
    border-radius: 100px;
    border: none;
    width: 100%;
    height: 100%;
    font-weight: 200;
    background: transparent;
}

input::placeholder {
    font-family: inherit;
    color: var(--desaturated-red);
}

button {
    cursor: pointer;
    top: 0;
    right: 0;
    position: absolute;
    border: none;
    background: var(--gradient-2);
    width: 25%;
    height: 100%;
    border-radius: 100px;
    box-shadow: 0px 17px 27px -11px var(--desaturated-red);
}

button svg {
    transition: transform 200ms ease-in-out;
}

button:hover svg {
    transform: translateX(12px) scale(1.5);
}

.desktop-logo {
    display: block;
    margin-top: 68px;
}

.mobile-logo {
    display: none;
    margin: 24px 20px;
}

.desktop-hero {
    display: block;
}

.mobile-hero {
    display: none;
    width: 100%;
}

@media (max-width: 675px) {
    .container {
        flex-direction: column;
    }

    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: block;
    }

    .desktop-hero {
        display: none;
    }
    
    .mobile-hero {
        display: block;
    }

    .text-container {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .text-container h2 {
        margin-top: 80px;
        font-size: 2rem;
        line-height: 40px;
    }

    .text-container p {
        font-size: 1rem;
    }

    .email-input-box {
        width: 80%;
        margin: 0 auto;
        margin-top: 32px;
    }

    input {
        font-size: 1rem;
        padding: 1rem 0;
        padding-left: 1.5rem;
    }
}